# ==============================
# Virtual Environments
# ==============================
venv/
venv_airflow/
venv_evidently/

# ==============================
# Python
# ==============================
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/
.ipynb_checkpoints/

# ==============================
# Models
# ==============================
models/*.pkl
models/*.pt
models/*.pth

# ==============================
# Data
# ==============================
data/raw/
data/processed/
*.csv

# Keep folder structure
!data/.gitkeep

# ==============================
# Secrets
# ==============================
.env
*.env
*.key
*.pem

# ==============================
# Logs
# ==============================
logs/
*.log
airflow/logs/
airflow/airflow.db

# ==============================
# MLflow
# ==============================
mlruns/
mlflow.db

# ==============================
# Monitoring
# ==============================
monitoring/reports/

# ==============================
# IDE
# ==============================
.vscode/
.idea/

# ==============================
# OS Files
# ==============================
.DS_Store
Thumbs.db

# ==============================
# Docker
# ==============================
docker-compose.yaml
.env.production

# Local backup / experimental files
airflow/dags/metar_forecast_dag.py.save
output.txt
src/predict (Copy).py
src/tft_best_v2.pt
models/old_model files exp/
models/old_models_backup/
src/xgboost_temperature_forecast.py
models/xgb_temperature_model_6hr.pkl
